[submodule "external/lichess-bot"]
	path = external/lichess-bot
	url = https://github.com/careless25/lichess-bot
[submodule "external/Fathom"]
	path = external/Fathom
	url = https://github.com/bsamseth/Fathom.git
